.arrow-go-top {
  position: fixed;
  z-index: 200;
  bottom: -100px;
  right: 50px;
  transition: all .5s ease;

  @include response($sm) {
    right: 20px;
  }

  &_show {
    bottom: 50px;

    @include response($sm) {
      bottom: 20px;
    }
  }

  &__button {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $header_link_clr;
    font-size: $heading_font_size;
  }
}