.logo {
  text-decoration: none;
  color: $header_link_clr;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__img {
    height: 70px;
  }

  &__title {
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    transform: skewY(-4deg);
    font-family: 'PT Sans', sans-serif;
  }
}