.nav {
  font-family: 'PT Sans',sans-serif;

  @include response(1024){
    display: none;
  }

  &__list {
    list-style: none;
    @include flex('space-between');
  }

  &__item {

  }

  &__link {
    display: block;
    padding: 20px;
    color: $header_link_clr;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}