.offer-card {
  width: 50%;
  padding: 2px;
  border-radius: 10px;
  margin: 30px 50px;
  background-color: $delimiter_clr;
  background: linear-gradient(90deg, rgba(44,204,195,0.4374124649859944) 0%, rgba(44,204,195,1) 51%, rgba(14,157,149,1) 100%);

  @include response($lg){
    margin: 30px 15px;
  }

  @include response(1024){
    width: 100%;
    max-width: 500px;
  }

  &__inner {
    background-color: $bg_second_clr;
    padding-bottom: 40px;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__title {
    padding: 40px 40px;
    text-align: center;
    font-size: $price_font_size;

    @include response($xs){
      padding: 20px 10px;
    }
  }

  &__description {
    @include flex('space-between');
    padding: 10px 40px;

    @include response($xs){
      padding: 10px 10px;
    }
  }
}