//  Main
//  Color #000000 #181818 #2CCCC3 #FACD3D #5626C4 #E60576

$text_clr: #fff;
$heading_font_size: 40px;
$font_size: 20px;
$delimiter_clr: #2CCCC3;
$br_brand_clr: #bbe2f51a;

//  Header

$header_link_clr: #FACD3D;
$header_background_clr: rgba(0, 0, 0, .5);