//  Main
//  Color #000000 #181818 #2CCCC3 #FACD3D #5626C4 #E60576

$text_clr: #000;
$font_size: 20px;
$font_size_sm: 16px;
$price_font_size: 1.5rem;
$heading_font_size: 2rem;
$delimiter_clr: #2cccc3;
$bg_brand_clr: rgba(187, 226, 245, 0.1);
$bg_second_clr: #181818;


//  Header

$header_link_clr: #FACD3D;
$first_background_clr: rgba(0, 0, 0, .7);

//  Media Screen

$xs: 576;
$sm: 768;
$md: 992;
$lg: 1270;