.header {
  position: fixed;
  width: 100vw;
  top: 0; left: 0;
  z-index: 300;

  &__container {
    width: 100%;
    max-width: 1500px;
    padding: 20px 20px;
    margin: 0 auto;
    @include flex('space-between');

    @include response($xs){
      padding: 10px 5px;
    }
  }
}